@page "/login"
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
<button @onclick="Login1">Login</button>

@code {
    private async Task Login1()
    {

        var authProvider = (CustomAuthenticateStateProvider)AuthStateProvider;
        var success = await authProvider.LoginAsync("admin", "password");

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (success)
        {
            Navigation.NavigateTo("/admin");
        }
    }
}